/* *{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
*/
body {
	/*height: 100vh;*/
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(26, 43, 68);
}
/*
.container {
	background: white;
	width: 400px;
	height: 380px;
	padding: 50px;
	border-radius: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .9);
}

.container .password {
	width: 100%;
	height: 45px;
	padding: 0 50px 0 20px;
	border-radius: 5px;
	font-size: large;
	background: #f5f5f5;
	border-radius: 30px;
	border: 1px solid rgb(20, 223 223);
	transition: .4s;
}

.container .password:focus { box-shadow: 0 0 30px aqua; }

.container p {
	margin: 10px 10px 30px;
	opacity: .5;
	transition: .3s;
}

.container p span {
	font-size: 22px;
	color: rgb(26, 43, 68);
	margin-left: 45px;
}

.fa-check { opacity: 0;}

.fa-times { opacity: 1;}

.container p i {
	position: absolute;
	text-align: center;
	width: 32px;
	height: 32px;
	line-height: 30px;
	font-size: larger;
	border-radius: 50%;
	color: rgb(26, 43, 68);
	border: 2px solid rgb(26, 43, 68);
}

.container #show_hide {
	color: rgb(26, 43, 68);
	font-size: 22px;
	transform: translateX(260px) translateY(-34px);
	cursor: pointer;
}
*/
.alert {
	font-family: 'Roboto', sans-serif;
	width: fit-content;
	height: 60px;
	margin: auto;
	margin-top: 50px;
	padding: 0px 0px 0px 15px;
	transition: .6s ease-in-out;
	user-select: none;
}

.alert p {
	border-radius: 50%;
	width: 1.5%;
	margin-top: 0.3%;
	margin-left: -0.5%;
	position: absolute;
	text-align: center;
}

.alert div {
	padding: 0px 30px 30px 50px;
	font-size: 18px;
}

.alert div strong { padding-right: 6px;}

.alert label {
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-size: 20px;
}

input { display: none;}

#click2:checked ~ .warning {
	opacity: 0;
	pointer-events: none;
}

.warning {
	width: 43%; 
	background: rgb(255, 222, 197);
	border-left: 6px solid rgb(175, 116, 76);
}

.warning p {
	font-size: 40px;
	padding: 2px 14px 4px 14px;
	color: rgb(255, 222, 197);
	background: rgb(175, 116, 76);
}

.warning div { 
	color: rgb(190, 115, 64);
	margin-top: 3.1%;
	width: 88%;
	text-align: left;
}

.warning label {
	color: rgb(190, 115, 64);
	background: rgb(255, 196, 168);
}

#id_cierre {
	display: inline-table;
	margin-left: 36.3%;
	width: 3%;
	text-align: right;
	position: absolute;
	margin-top: -4.3%;
}