.error {
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    margin: 10px;
    width: 27%;
    float: left;
}

body {
    background-color: #3d4045;
}

#id_altaUsuario h1 {
    font-size: 250%;
    text-align: center;
}

#id_registro {
    border-radius: 10px;
    background-color: #fbde1b;
	color: #3D4045;
    opacity: 80%;
    width: 40%;
    height: 510px;
    border: 1px solid #000000;
    margin: auto;
    vertical-align: middle;
}

#id_campo {
    border: none;
    font-size: large;
}

#id_obligatorio {
    margin-top: -2%;
    color: red;
    margin-left: 20%;
}

.div {
    font-size: large;
    margin-left: 10%;
}

.campo {
    margin-top: -1.4%;
    position: absolute;
    margin-left: 14%;
}

#id_nombre{
    font-size: medium;
    border-radius: 5px;
    width: 90%;
    font-family: 'Source Code Pro';
    margin-top: 1%;
    margin-left: -135%;
}

#id_apellidos{
    font-size: medium;
    border-radius: 5px;
    width: 90%;
    font-family: 'Source Code Pro';
    margin-top: 1%;    
    margin-left:-15%;
}
#id_dni{
    font-size: medium;
    border-radius: 5px;
    width: 90%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}
#id_telefono{
    font-size: medium;
    border-radius: 5px;
    width: 110%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_email{
    font-size: medium;
    border-radius: 5px;
    width: 90%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_direccion{
    font-size: medium;
    border-radius: 5px;
    width: 100%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}
#id_contraseña{
    border-radius: 5px;
    width: 125%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_confirmar{
    border-radius: 5px;
    width: 125%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}
#id_enviar {
    margin-left: 40%;
	border-radius: 16px;
	padding: 4px 20px;
	text-decoration: none;
	background: none;
    cursor: pointer;
}
#id_terminos{
    margin-top: 5%;
    font-size: medium;
    text-align: center;
}
