body {
    background-color: #3D4045;
}

body h1 {
    color: #fbde1b;
    text-align: center;
    font-size: 250%;
}

body p {
    color: #ffffff;
}

#id_principal {
    text-align: justify;
    width: 50%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

#id_footer {
    margin-top: 2%;
}

#id_divValidaCSS {
	position: absolute;
	margin: 1%;
	width: 5%;
}

#id_divValidaHTML {
	position: absolute;
	margin-top: 1%;
	margin-left: 7.5%;
	width: 5%;
}