.error {
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    margin: 10px;
    width: 12%;
    float: left;
}

body {
    background-color: #3d4045;
}

.h{
    width: 120%;
}

#id_tablas{
	color: #3D4045;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    background-color: #d5be23;
    height: auto;
    overflow: auto;
    margin-top: 8%;
}

form{
    height: auto;
    overflow: auto;
    float: left;
}

.reparacion {
    width: 21.6%;
    height: auto;
    overflow: auto;
    float:left;
    margin-left:2%;
}

.campo {
    border-radius: 5px;
    width: 100%;
    font-family: 'Source Code Pro';
}

#id_titulo{
    margin-top: 0.5%;
    text-align: center;
}

.id_tabla{
    margin-top: -1%;
    padding: 0% 7%;
    margin-bottom: 5%;
    float: left;
}

.id_tabla_edit{
    padding: 0% 1.04%;
    margin-bottom: 5%;
    float: left;
}

#id_paginacion {
    width: auto;
    margin: auto;
    text-align:center;
}

#id_enlaces {
    text-align: center;
    padding: 1% 1%;
    width: 10%;
    margin-left: 4%;
    
}

#id_form {
    margin-top: -3%;
    text-align: center;
    margin:auto;
    margin-left: 25%;
    width: 50%;
    
}

.id_pag {
    text-decoration: none;
    padding: 0% 10%;
    color: #fbde1b;
    font-size: medium;
    border: 1px solid;
    border-radius: 4px;
}

#pag_tam{
    border-radius: 5px;
    text-align: center;
    width: 15%;
    font-size: medium;
    margin: auto;
}

.id_botonesReparacion{
    width: 7%;
    margin:auto;
    margin-bottom: 3%;
}

.editar_fila {
    border-radius: 4px;
    background: none;
}

.facturaBtn {
    border-radius: 4px;
    width: 100%;
}

#id_enviar {
    margin-top: 4%;
	border-radius: 16px;
	padding: 4px 20px;
    text-decoration: none;
    background: none;
	border: 1px solid;
	color: #FBDE1B;
    cursor: pointer;
    margin-left: 2%;
}
#id_footer {
    margin-top: 1%;
}

#id_divValidaCSS {
	position: absolute;
	margin: 1%;
	width: 5%;
}

#id_divValidaHTML {
	position: absolute;
	margin-top: 1%;
	margin-left: 7.5%;
	width: 5%;
}