body {
    background-color: #3d4045;
}

.factura{
    border-radius: 10px;
    background-color: #d5be23;
	color: #3D4045;
    width: 48%;
    height: auto;
    border: 1px solid #000000;
    margin: auto;
    margin-top: 2%;
    font-size: large;
    overflow: auto;
}

.factura h2 {
    margin-top: 2%;
    text-align: center;
}

#id_tablaFactura td {
    padding: 1% 0%;    
}

#id_tablaFactura{
    padding: 0% 7%;
    float: left;
}

table th {
    border: 2px solid;
    border-radius: 4px;
}

.h{
    width: 30%;
}

#id_importe {
    text-align: right;
}

#id_pago{
    text-align: center;
}

#id_divEnviar {
    width: 7%;
    margin: auto;
    margin-top: 1%;
}

#id_enviar {
	border-radius: 16px;
	padding: 4px 20px;
    text-decoration: none;
    background: none;
	border: 1px solid;
	color: #FBDE1B;
    cursor: pointer;
}

#id_divVolver {
    width: 7%;
    margin-left: 67%;
    margin-top: -1.8%;
}

#id_volver {
    border-radius: 16px;
	padding: 4px 20px;
    text-decoration: none;
    background: none;
	border: 1px solid;
	color: #FBDE1B;
    cursor: pointer;
}

#id_volver a {
    text-decoration: none;
    color: #FBDE1B;
}

h2 a {
    text-decoration: none;
    color: #1e708b;
}

#id_footer {
    margin-top: 1%;
}

#id_divValidaCSS {
	position: absolute;
	margin: 1%;
	width: 5%;
}

#id_divValidaHTML {
	position: absolute;
	margin-top: 1%;
	margin-left: 7.5%;
	width: 5%;
}

