.error {
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    margin: 10px;
    width: 12%;
    float: left;
}

body {
    background-color: #3d4045;
}

article {
    border-radius: 10px;
    background-color: #fbde1b;
	color: #3D4045;
    opacity: 80%;
    width: 48%;
    height: 400px;
    border: 1px solid #000000;
    margin: auto;
    vertical-align: middle;
    margin-top: 6%;
    font-size: large;
    text-align: center;
}

.dato_usuario{
    text-align: center;
    width: 100%;
    margin-left: 20%;
} 

#id_tabla td {
}