.error {
	color : #fbde1b;	
	border : 2px solid #fbde1b;
	padding : 10px;
    margin: 10px;
    width: 27%;
    float: left;
}

body {
    background-color: #3d4045;
}

#id_altaUsuario {
    width: 100%;
    height: 500px;
    border: 0px;
    margin: auto;
}

#id_altaUsuario h1 {
    font-size: 250%;
    text-align: center;
}

#id_registro {
    border-radius: 10px;
    background-color: #fbde1b;
	color: #3D4045;
    opacity: 80%;
    width: 35%;
    height: 500px;
    border: 1px solid #000000;
    margin: auto;
    vertical-align: middle;
}

#id_campoRegister {
    border: 0px solid;
}

#id_nombre {
    float: left;
    margin-left: 20%;
}

#id_divApellidos {
    float: right;
    margin-right: 15%;
}

.div {
    margin-left: 20%;
}

.campo {
	border-radius: 4px;
	background-color: #E6E3E2;
}

#id_enviar {
    margin-left: 40%;
	border-radius: 16px;
	padding: 4px 20px;
	text-decoration: none;
	background: none;
    cursor: pointer;
}
