.error {
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    margin: 10px;
    width: 12%;
    float: left;
}

body {
    background-color: #3d4045;
}

article {
    border-radius: 10px;
    background-color: #d5be23;
	color: #3D4045;
    width: 48%;
    overflow: auto;
    border: 1px solid #000000;
    margin: auto;
    margin-top: 3%;
    font-size: large;
    text-align: center;
    
}

.campo {
    font-size: medium;
    border-radius: 5px;
    width: 100%;
    font-family: 'Source Code Pro';
}

#id_misDatos {
    margin-top: 3%;
}

#id_editando {
    margin-top: 1%;
}

#id_table {
    margin-left: 16%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 70%;
}

#id_tableEdit {
    margin-left: 16%;
    margin-top: -1%;
    width: 70%;
}

table td {
    padding: 1.5%;
    border-bottom: 1px solid;
}

.id_botonesClientes {
    margin-top: -2%;
}

.editar_fila {
    margin-bottom: 1%;
    background: none;
    border-radius: 4px;
    cursor: pointer;
}

#id_footer {
    margin-top: 1%;
}

#id_divValidaCSS {
	position: absolute;
	margin: 1%;
	width: 5%;
}

#id_divValidaHTML {
	position: absolute;
	margin-top: 1%;
	margin-left: 7.5%;
	width: 5%;
}