.error {
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    margin: 5px;
    width: 20%;
    float: left;
    margin-top: -5.8%;
    margin-left: 1%;
}

body {
    background-color: #3d4045;
}

h1{
    text-align: center;
    color: #d5be23;
}

.proveedor{
    border-radius: 16px;
    border: 1px solid;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #d5be23;
    color: #3d4045;
}

table {
    margin-bottom: 2%;
    font-size: large;
    margin-right: 30%;
    margin-left: 30%;
}

table td {
    padding: 1.5%;
    width: 100%;
    border-bottom: 1px solid;
}

.campo {
    font-size: medium;
    border-radius: 5px;
    font-family: 'Source Code Pro';
}

.editar_fila {
    border-radius: 4px;
    cursor: pointer;
    background: none;
}

.id_botonesProveedor {
    margin: auto;
    width: 15%;
}

#id_mas {
    background-color: #d5be23;
    border-radius: 16px;
    width: 70%;
    margin: auto;
    text-align: center;
}

article h2 {
    text-align: center;
}
#id_footer {
    margin-top: -3%;
}

#id_divValidaCSS {
	position: absolute;
	margin: 1%;
	width: 5%;
}

#id_divValidaHTML {
	position: absolute;
	margin-top: 1%;
	margin-left: 7.5%;
	width: 5%;
}