.error {
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    margin: 10px;
    width: 18%;
    float: left;
    margin-top: 6%;
}

body {
	background-color: #3d4045;
}

#id_divProveedor {
    border-radius: 10px;
    background-color: #d5be23;
	color: #3D4045;
    width: 48%;
    height: 380px;
    border: 1px solid #000000;
    margin: auto;
    vertical-align: middle;
    margin-top: 6%;
}

#id_campo {
    border: none;
    font-size: large;
}

#id_regProveedor h1 {
    text-align: center;
    font-size: 250%;
    margin-top: 0;
}

#id_obligatorio{
    margin-top: -2%;
    margin-left: 19%;
    color:red;
}

.div {
    font-size: large;
    margin-left: 20%;
}

.campo {
    margin-top: -1.4%;
    position: absolute;
    margin-left: 16%;
}

#id_nombre {
    font-size: medium;
    border-radius: 5px;
    width: 130%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_email {
    font-size: medium;
    border-radius: 5px;
    width: 130%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_telefono {
    font-size: medium;
    border-radius: 5px;
    width: 130%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_enviar {
    box-shadow: #3D4045;
    margin-top: 5%;
    margin-left: 43%;
	border-radius: 16px;
	padding: 4px 20px;
    text-decoration: none;
    background: none;
    cursor: pointer;
}