body {
	background-color: #3d4045;
}

#id_divVehiculo {
    border-radius: 10px;
    background-color: #d5be23;
	color: #3D4045;
    width: 48%;
    border: 1px solid #000000;
    margin: auto;
    vertical-align: middle;
    margin-top: 6%;
    overflow: auto;
}

.div {
    font-size: large;
    margin-left: 26%;
}

#id_regVehiculo h1 {
    text-align: center;
    font-size: 250%;
    margin-top: 0;
}

.error {
    position: absolute;
    margin-top: 6%;
    margin-left: 2%;
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    width: 15%;
    float: left;
}

.campo {
    margin-top: -1.4%;
    position: absolute;
    margin-left: 10%;
}

#id_marcaC{
    border-radius: 2%;
    position: absolute;
    margin-left: 6.4%;
    font-family: 'Source Code Pro';
    font-size: medium;
}

#id_marcaM{
    border-radius: 2%;
    position: absolute;
    margin-left: 6.4%;
    font-family: 'Source Code Pro';
    font-size: medium;
}

#id_modeloC{
    border-radius: 2%;
    position: absolute;
    margin-left: 5.7%;
    font-family: 'Source Code Pro';
}

#id_modeloM{
    border-radius: 2%;
    position: absolute;
    margin-left: 5.7%;
    font-family: 'Source Code Pro';
}


#id_campo {
    border: none;
    font-size: large;
}

#id_obligatorio{
    margin-top: -2%;
    margin-left: 24%;
    color:red;
}

#id_cocheBtn{
    margin-left: 11.5%;
    position: absolute;
    width: 7%;
}

#id_motoBtn{
    position: relative;
    margin-left: 39%;
    width: 12%;
}

#id_furgonetaBtn{
    margin-left: 25.5%;

}

#id_modelo{
    border-radius: 5px;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_matricula{
    font-size: medium;
    border-radius: 5px;
    width: 120%;
    font-family: 'Source Code Pro';
    margin-top: 0.5%;
    margin-left: 2%;
}

#id_color{
    font-size: medium;
    border-radius: 5px;
    width: 120%;
    margin-top: 0.5%;
    font-family: 'Source Code Pro';
    margin-left: 4%;
}

#id_enviar {
    margin-top: 2.5%;
    margin-left: 43%;
	border-radius: 16px;
	padding: 4px 20px;
    text-decoration: none;
    background: none;
    cursor: pointer;
}
