.error {
	color : #fb1b4c;	
	border : 2px solid red;
	padding : 10px;
    width: 20%;
	float: left;
	margin-top: 6%;
	margin-left: 1%;
}

#id_superior {
	margin-top: 10px;
}

html p {
	text-align: center;
}

body {
	background-color: #3d4045;
}

#id_logo {
	margin-left: 2%;
	margin-top: 1%;
	height: 125px;
}

#id_principal {
	margin-top: 100px;
	height: 350px;
}

#id_secundario {
	margin: auto;
	height: 350px;
	width: 250px;
}

#id_usuario {
	color: #3D4045;
	border: 1px solid;
	border-radius: 10px;
	height: 220px;
	width: 250px;
}

#id_register {
	width: 150px;
	height: 100px;
	margin: auto;
}

#id_btregistro {
	border-radius: 16px;
	padding: 4px 20px;
	text-decoration: none;
	border: 1px solid;
	color: #FBDE1B;
	margin-left: 15%;
}

#id_campouser {
	color: #3D4045;
	position: relative;
	border: 0px;
}

#id_transparencia {
	border: 1px solid;
	border-radius: 10px;
	height: 220px;
	width: 250px;
	background-color: #fbde1b;
	opacity: 0.8;
	position: absolute;
}

#id_btuser {
	position: relative;
	margin-top: 15px;
	left: 50px;
	border-radius: 16px;
	padding: 4px 20px;
	text-decoration: none;
	color: #000000;
	background: none;
	cursor: pointer;
}

#id_pInicio {
	position: relative;
	z-index: 1;
	font-size: large;
	color: #3d4045;
}

#id_userImg {
	width: 15px;
	height: 15px;
}

#id_passImg {
	width: 15px;
	height: 15px;
}

#id_pAux {
	color: #FBDE1B;
}

#id_dni {
	position: relative;
	border-radius: 4px;
	background-color: #E6E3E2;
}

#id_pass {
	position: relative;
	border-radius: 4px;
	background-color: #E6E3E2;
}

#id_footer {
	position: fixed;
 	bottom: 0;
 	left: 0;
  	width: 100%;
	height: 60px;
    border-top: 1px solid;
    border-color: #FBDE1B;
	background: #43474d;
	color: #FBDE1B;
}

#id_footer a {
	color: #FBDE1B;
}

#id_divValidaCSS {
	position: absolute;
	margin: 1%;
	width: 5%;
}

#id_divValidaHTML {
	position: absolute;
	margin-top: 1%;
	margin-left: 7.5%;
	width: 5%;
}